@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import '../lib/css/bootstrap.min.scss';

*{
    font-family: "Outfit", sans-serif;
}

$white: #FFFFFF;
$dark-blue: #01000E;
$light-white: #F8F8F8;
$grey-dark: #53535D;
$grey-middle: #94949C;
$grey-light: #A4B1B6;



body {
    overscroll-behavior: none;
}

h1{

}

h2{

}

h3{
    font-size: 30px;
    line-height: 140%;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: $grey-middle;
}

h4{
    font-size: 24px;
    line-height: 140%;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: $grey-middle;
}

h6,
.uppertitle{
    font-size: 12px;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: $grey-middle; 
    text-transform: uppercase;
}

strong{
    font-weight: 400;
    color: $grey-dark;
}

p{
    line-height: 120%;
    font-weight: 200;
    color: $white;
    opacity: .7;
}

a, a:hover{
    text-decoration: none;
}

.button{
    padding: 10px 20px;
    color: $white;
    border: 1px solid $white;
    border-radius: 4px;
    background: linear-gradient(-90deg, rgb(0, 163, 255, .40) 0%, #00A3FF00 100%);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px rgba(0, 163, 255, 0.3), 1px 0 4px rgba(0, 163, 255, 0.7);
    transition: all .5s ease-in-out;
    &::before{
        content: "";
        background-color: rgba(255, 255, 255, 0.1);
        position: absolute;
        inset: 0;
        border-radius: 2px;
        z-index: -1;
        transition: all .5s ease-in-out;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 15px;
        background-image: url(../assets/arrow-btn.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all .5s ease-in-out;
    }
    &:hover{
        color: $white;
        color: $dark-blue;
        box-shadow: 0 0 5px rgba(0, 163, 255, 0.4), 2px 0 25px rgba(0, 163, 255, 0.5);
        &::before{
            background-color: rgba(255, 255, 255, 1);
        }
        &::after{
            filter: invert(1);
        }
        img{
            &.reflect-button{
                opacity: 0;
            }
            &.is-hover{
                opacity: 1;
            }
        }
    }   
}

section{
    height: 100vh;
    width: 100vw;
    position: relative;
}

// Main Containers
#open-site{
    position: relative;
    height: 900vh;
}

#close-site{
    position: relative;
    height: 700vh;
}

#open{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-white;
    .intro-area{
        background-color: $white;
        width: 90vw;
        height: 85vh;
        border-radius: 20px;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.02);
        .container-intro{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

#quotes{
    width: 100vw;
    // background-color: $dark-blue;
    background: linear-gradient(180deg, #141E33 50%, $dark-blue 100%);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .quotes-area{
        height: 100vh;
        width: 100%;
        background-color: $white;
        .quotes{
            width: 100%;
            max-width: 900px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .data-quote{
                margin-top: 80px;
                img{
                    margin-top: 20px;
                }
                p{
                    font-weight: 400;
                    color: $dark-blue;
                    opacity: .4;
                }
            }
        }
    }
}

#pre-video{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    .intro-area{
        h4{
            color: $grey-light;
            strong{
                color: $white;
            }
        }
    }
}

#video{
    height: 100vh;
    background-color: $dark-blue;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .video-area{
        height: 100%;
        width: 100%;
        max-width: 80vw;
        max-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        video{
            width: 100%;
            height: 100%;
            mix-blend-mode: screen;
            // position: absolute;
            // object-fit: cover;
        }
    }
}

#close-video{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    .static-stars{
        position:absolute; 
        width: 100%; 
        height: 100%; 
    }
    #particles-js{
        position:absolute; 
        width: 100%; 
        height: 100%; 
        z-index: 1;
    }
    .intro-area{
        h3{
            letter-spacing: 0;
            color: $white;
            display: inline-flex;
            align-items: center;
            gap: 6px;
            strong{
                display: inline;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                background-image: linear-gradient(-90deg, #1584FF 0%, #A01AF8 34%, #FB0F42 67%,  #FFB647 100%);
            }
        }
    }
}


#close{
    height: auto;
    padding: 100px 0 40px;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/close-bg.jpg);
    background-position: center -100px;
    background-size: 1440px;
    background-repeat: no-repeat;
    position: relative;
    .overlay-section{
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        background: linear-gradient(180deg, $dark-blue 100%, transparent 100%);
        opacity: 0;
        pointer-events: none;
        z-index: 1;
    }
    .top-area{
        text-align: center;
        margin-bottom: 60px;
        img{
            max-width: 288px;
            margin-bottom: 15px;
        }
    }
    span.uppertitle{
        display: block;
        color: $grey-light;
        font-weight: 400;
        text-align: center;
    }
    .row-logos{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        margin-top: 15px;
        .holder-logo{
            img{
                &.baseline{
                    max-width: 79px;
                }
                &.boston-seed{
                    max-width: 148px;
                }
                &.founder{
                    max-width: 73px;
                }
                &.impellent{
                    max-width: 85px;
                }
                &.predictive{
                    max-width: 115px;
                }
                &.ventures186{
                    max-width: 45px;
                }
            }
        }
    }
    .button-area{
        margin-top: 150px;
        text-align: center;
        .button-reflect{
            display: inline-block;
            position: relative;
            img{
                pointer-events: none;
                transition: all .5s ease-in-out;
                &.reflect-button{
                    max-width: 195px;
                    position: absolute;
                    left: 50%;
                    top: 40px;
                    transform: translateX(-50%);
                }
                &.is-hover{
                    opacity: 0;
                }
            }
            &:hover{
                img{
                    &.reflect-button{
                        opacity: 0;
                    }
                    &.is-hover{
                        opacity: .8;
                    }
                }
            } 
        }
    }
    .bottom-area{
        margin-top: 150px;
        text-align: center;
        span.uppertitle{
            display: inline-flex;
            align-items: center;
            gap: 10px;
            color: $grey-light;
            font-weight: 400;
            opacity: 66%;
        }
    }
}