@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import '../lib/css/bootstrap.min.scss';

*{
    font-family: "Outfit", sans-serif;
}

$white: #FFFFFF;
$dark-blue: #01000E;
$light-white: #F8F8F8;
$grey-dark: #53535D;
$grey-middle: #94949C;
$grey-light: #A4B1B6;



body {
    overscroll-behavior: none;
}

h1{

}

h2{

}

h3{
    font-size: 30px;
    line-height: 140%;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: $grey-middle;
    @media (max-width: 575px){
        font-size: 22px;
    }
    @media (max-width: 425px){
        font-size: 18px;
    }
}

h4{
    font-size: 24px;
    line-height: 140%;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: $grey-middle;
    @media (max-width: 575px){
        font-size: 18px;
    }
    @media (max-width: 425px){
        font-size: 16px;
    }
}

h6,
.uppertitle{
    font-size: 12px;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: $grey-middle; 
    text-transform: uppercase;
    @media (max-width: 575px){
        font-size: 10px;
    }
}

strong{
    font-weight: 400;
    color: $grey-dark;
}

p{
    line-height: 120%;
    font-weight: 200;
    color: $white;
    opacity: .7;
}

a, a:hover{
    text-decoration: none;
}

.button{
    padding: 10px 20px;
    color: $white;
    border: 1px solid $white;
    border-radius: 4px;
    background: linear-gradient(-90deg, rgb(0, 163, 255, .40) 0%, #00A3FF00 100%);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px rgba(0, 163, 255, 0.3), 1px 0 4px rgba(0, 163, 255, 0.7);
    transition: all .5s ease-in-out;
    position: relative;
    &::before{
        content: "";
        background-color: rgba(255, 255, 255, 0.1);
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        border-radius: 2px;
        z-index: -1;
        transition: all .5s ease-in-out;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 15px;
        background-image: url(../assets/arrow-btn.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all .5s ease-in-out;
    }
    &:hover{
        color: $white;
        color: $dark-blue;
        box-shadow: 0 0 5px rgba(0, 163, 255, 0.4), 2px 0 25px rgba(0, 163, 255, 0.5);
        &::before{
            background-color: rgba(255, 255, 255, 1);
        }
        &::after{
            filter: invert(1);
        }
        img{
            &.reflect-button{
                opacity: 0;
            }
            &.is-hover{
                opacity: 1;
            }
        }
    }   
}

.wrapper-site{
    section{
        height: 100vh;
        width: 100%;
        position: relative;
    }
}

// Main Containers
#open-site{
    position: relative;
    height: 1300vh;
}

#close-site{
    position: relative;
    height: 900vh;
}

#open{
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-white;
    .intro-area{
        background-color: $white;
        width: 90%;
        height: 85vh;
        border-radius: 20px;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.02);
        .container-intro{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    @media (max-width: 991px){
        .intro-area{
            .container-intro{
                width: 80%;
            }
        }
    }
}

#quotes{
    width: 100%;
    // background-color: $dark-blue;
    background: linear-gradient(180deg, #141E33 50%, $dark-blue 100%);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .quotes-area{
        height: 100vh;
        width: 100%;
        background-color: $white;
        position: relative;
        .quotes{
            width: 100%;
            max-width: 900px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .data-quote{
                margin-top: 80px;
                img{
                    margin-top: 20px;
                    &.benchmark{
                        max-width: 200px;
                    }
                }
                p{
                    font-weight: 400;
                    color: $dark-blue;
                    opacity: .4;
                }
            }
        }
    }
    @media (max-width: 575px){
        .quotes-area{
            .quotes{
                max-width: 380px;
                .data-quote{
                    img{
                        &.meta{
                            max-width: 90px;
                        }
                        &.ny-times{
                            max-width: 180px;
                        }
                        &.goldman-sachs{
                            max-width: 85px;
                        }
                        &.stanford{
                            max-width: 85px;
                        }
                        &.mit{
                            max-width: 50px;
                        }
                        &.benchmark{
                            max-width: 150px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 425px){
        .quotes-area{
            .quotes{
                max-width: 260px;
            }
        }
    }
}

#pre-video{
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    .intro-area{
        h4{
            color: $grey-light;
            strong{
                color: $white;
            }
        }
        .line{
            text-align: center !important;
        }
    }
    @media (max-width: 575px){
        .intro-area{

        }
    }
}

#video{
    height: 100vh;
    background-color: $dark-blue;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .video-area{
        height: 100%;
        width: 100%;
        // max-width: 80%;
        // max-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        video{
            width: 100%;
            height: 100%;
            mix-blend-mode: screen;
            position: absolute;
            object-fit: cover;
        }
    }
}

#close-video{
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    .static-stars{
        position:absolute; 
        width: 100%; 
        height: 100%; 
        object-fit: cover;
    }
    #particles-js{
        position:absolute; 
        width: 100%; 
        height: 100%; 
        z-index: 1;
    }
    .intro-area{
        .container-intro{
            h3{
                position: relative;
                letter-spacing: 0;
                color: $white;
                span{
                    color: $white;
                    position: relative;
                    display: inline;
                    line-height: 150%;
                    span{
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        background-image: linear-gradient(90deg, #FFB647 0%, #FB0F42 50%,  #A01AF8 100%);
                        position: absolute;
                        left: 7px;
                        top: -3px;
                        width: 100%;
                        height: 110%;
                    }
                }
            }
        }
    }
    @media (max-width: 575px){
        .intro-area{
            .container-intro{
                h3{
                    span{
                        span{
                            left: 5px;
                            top: -2px;
                        }
                    }
                }
            }
        }
    }
}


#close{
    height: auto;
    padding: 200px 0 40px;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .close-background{
        max-width: 1440px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    .top-area{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        .logo-area{
            position: relative;
            img{
                position: relative;
                z-index: 1;
            }
            img.logo-sparks{
                position: absolute;
                top: -55px;
                left: -55px;
                z-index: 0;
                max-width: 185px;
                mix-blend-mode: screen;
            }
        }
    }
    span.uppertitle{
        display: block;
        color: $grey-light;
        font-weight: 400;
        text-align: center;
    }
    .row-logos{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        margin-top: 20px;
        .holder-logo{
            img{
                &.baseline{
                    max-width: 79px;
                }
                &.boston-seed{
                    max-width: 148px;
                }
                &.founder{
                    max-width: 73px;
                }
                &.impellent{
                    max-width: 85px;
                }
                &.predictive{
                    max-width: 115px;
                }
                &.ventures186{
                    max-width: 45px;
                }
            }
        }
    }
    .button-area{
        margin-top: 160px;
        text-align: center;
        .button-reflect{
            display: inline-block;
            position: relative;
            img{
                pointer-events: none;
                transition: all .5s ease-in-out;
                &.reflect-button{
                    max-width: 195px;
                    position: absolute;
                    left: 50%;
                    top: 40px;
                    transform: translateX(-50%);
                }
                &.is-hover{
                    opacity: 0;
                }
            }
            &:hover{
                img{
                    &.reflect-button{
                        opacity: 0;
                    }
                    &.is-hover{
                        opacity: .8;
                    }
                }
            } 
        }
    }
    .bottom-area{
        margin-top: 150px;
        text-align: center;
        span.uppertitle{
            display: inline-flex;
            align-items: center;
            gap: 10px;
            font-size: 9px;
            color: $grey-light;
            font-weight: 400;
            opacity: 66%;
        }
    }
    @media (max-width: 1200px){
        .row-logos{
            gap: 25px;
        }
    }
    @media (max-width: 991px){
        .row-logos{
            gap: 15px 0;
            flex-wrap: wrap;
            .holder-logo{
                width: 25%;
                text-align: center;
            }
        }
    }
    @media (max-width: 575px){
        .close-background{
            max-width: 800px;
        }
        .top-area{
            .logo-area{
                img{
                    max-width: 180px;
                }
                img.logo-sparks{
                    top: -32px;
                    left: -31px;
                    max-width: 110px;
                }
            }
        }
        .row-logos{
            .holder-logo{
                width: 33%;
            }
        }
    }
    @media (max-width: 425px){
        .close-background{
            max-width: 500px;
            top: 55%;
        }
        .row-logos{
            .holder-logo{
                width: 33%;
                img{
                    &.baseline{
                        max-width: 55px;
                    }
                    &.boston-seed{
                        max-width: 120px;
                    }
                    &.founder{
                        max-width: 50px;
                    }
                    &.operator-collective{
                        max-width: 90px;
                    }
                    &.impellent{
                        max-width: 65px;
                    }
                    &.predictive{
                        max-width: 85px;
                    }
                    &.ventures186{
                        max-width: 35px;
                    }
                    &.alumni{
                        max-width: 110px;
                    }
                }
            }
        }
    }
}