@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import '../lib/css/bootstrap.min.scss';

*{
    font-family: "Outfit", sans-serif;
}

$white: #FFFFFF;
$dark-blue: #01000E;
$light-white: #F8F8F8;
$grey-dark: #53535D;
$grey-middle: #94949C;
$grey-light: #A4B1B6;



body {
    overscroll-behavior-y: none;
}

h1{

}

h2{

}

h3{
    font-size: 30px;
    line-height: 140%;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: $grey-middle;
}

h4{
    font-size: 24px;
    line-height: 140%;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: $grey-middle;
}

h6,
.uppertitle{
    font-size: 12px;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: $grey-middle; 
    text-transform: uppercase;
}

strong{
    font-weight: 400;
    color: $grey-dark;
}

p{
    line-height: 120%;
    font-weight: 200;
    color: $white;
    opacity: .7;
}

section{
    height: 100vh;
    width: 100vw;
    position: relative;
}

// Main Containers
#open-site{
    position: relative;
    height: 900vh;
}

#close-site{
    position: relative;
    height: 900vh;
}

#open{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-white;
    .intro-area{
        background-color: $white;
        width: 90vw;
        height: 85vh;
        border-radius: 20px;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.02);
        .container-intro{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

#quotes{
    width: 100vw;
    // background-color: $dark-blue;
    background: linear-gradient(180deg, #141E33 50%, $dark-blue 100%);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .quotes-area{
        height: 100vh;
        width: 100%;
        background-color: $white;
        .quotes{
            width: 100%;
            max-width: 900px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .data-quote{
                margin-top: 80px;
                img{
                    margin-top: 20px;
                }
                p{
                    font-weight: 400;
                    color: $dark-blue;
                    opacity: .4;
                }
            }
        }
    }
}

#pre-video{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    .intro-area{
        h4{
            color: $grey-light;
            strong{
                color: $white;
            }
        }
    }
}

#video{
    height: 100vh;
    background-color: $dark-blue;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .video-area{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        video{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: screen;
        }
    }
}

#close-video{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    #particles-js{
        position:absolute; 
        width: 100%; 
        height: 100%; 
    }
    .intro-area{
        h3{
            letter-spacing: 0;
            color: $white;
            display: inline-flex;
            align-items: center;
            gap: 6px;
            strong{
                display: inline;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                background-image: linear-gradient(-90deg, #1584FF 0%, #A01AF8 34%, #FB0F42 67%,  #FFB647 100%);
            }
        }
    }
}


#close{
    height: 100vh;
    padding: 150px 0 100px;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    .top-area{
        text-align: center;
        margin-bottom: 80px;
        img{
            margin-bottom: 15px;
        }
        h1{
            color: $white;
        }
    }
    .upper-title{
        display: block;
        color: $white;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;
    }
    .row-logos{
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 40px;
        margin-top: 25px;
        padding: 30px 40px;
        border-radius: 12px;
        background-color: $white;
    }
}